.app-title {
  color: #050401;
  justify-content: flex-start;
  text-decoration: none;
  margin-left: 10px;
}

button.logout-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-top: 1px black;
  background-color: #ef8354;
}

.user-info {
  display: flex;
  float:right;
  position:absolute;
  right: 120px;
  align-items: center;
}

.logout-button {
  margin-left: 20px;
  margin-right: 40px;
}

a.posts-link {
  text-decoration: none;
  color:#050401;
  font-size: 21px;
}
.header.nav {
  display: flex;
  float:right;
  position:absolute;
  right: 120px;
  align-items: center;
  text-decoration: none;
}