img {
  display: flex;
  justify-content: center, space-between;
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  text-align: center;
  align-self: flex-start;
  height: 10%;
  width: 30%;
  margin: 30px;
  /* padding: 10px 10px 10px 10px; */
}
