img {
  height: 20vh;
  width: 20vw; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10%; 
  align-self: center;
  border: 1px solid black;
  position: relative;
  object-fit: scale-down;
  background-color: brown;
}

div.image-cards {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 justify-content: space-between;
 height: 60vh;
  width: 60vw; 
  margin-left: 300px;
  margin-right: 300px;
}

.read-more {
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 375px) {
  body {
    background-color: seashell;
  }

  div.image-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 100px;
  margin-right: 100px;
  height: 40vh;
  width: 40vw; 
  }

  img {
    height: 20vh;
  width: 40vw; 
  }

  header {
    background: seagreen;
  }

  .app-title {
    color: #050401;
    justify-content: flex-start;
    text-decoration: none;
    /* margin-left: 10px; */
    font-size: 10px;
  }
  .user-info {
    display: flex;
    float:right;
    position:absolute;
    right: 10px;
    align-items: center;
    font-size: 10px;
  }

  .logout-button {
    margin-left: 10px;
    margin-right:20px;
  }
  
}

@media screen and (max-width: 375px) {

}